/* Estilos generales, incluyendo header y .section-title */
body {
    font-family: 'Public Pixel', sans-serif;
    color: #525252;
    font-size: 16px; /* Tamaño de texto más pequeño */
    line-height: 1.6; /* Mayor separación entre líneas */
    margin: 2;
    padding: 2;
    box-sizing: border-box;
    background-color: #f6d4b1;
    cursor: url('./images/chebu.png'), auto;
}

header, footer, .portfolio-block {
    margin: 20px;
    padding: 10px;
    text-align: center;
    border: 2px dashed #525252;
}

header h1 {
    display: inline-block;
    background-color: #525252;
    color: #f6d4b1;
    padding: 5px;
    margin: 10px 0;
    box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.5);
    transition: box-shadow 0.3s, color 0.3s;
    font-size: 32px; /* Tamaño del encabezado más grande */
}

.section-title {
    display: inline-block;
    background-color: #525252;
    color: #f6d4b1;
    padding: 5px;
    margin: 10px 0;
    box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.5);
    transition: box-shadow 0.3s, color 0.3s;
    font-size: 24px; /* Tamaño de los títulos de las secciones */
}

/* Estilos para dispositivos móviles */
@media (max-width: 600px) {
    header h1 {
        font-size: 24px; /* Tamaño ajustado para el encabezado en móviles */
    }
    .section-title {
        font-size: 20px; /* Tamaño ajustado para los títulos de las secciones en móviles */
    }
}
