body {
    font-family: 'Public Pixel', sans-serif;
    color: #525252;
    font-size: 16px; /* Tamaño de texto más pequeño */
    line-height: 1.6; /* Mayor separación entre líneas */
    margin: 0.5px; /* Margen alrededor del contenido de la página */
    padding: 0;
    box-sizing: border-box;
    background-color: #f6d4b1;
    cursor: url('./images/chebu.png'), auto;
}

header, footer, .portfolio-block {
    margin: 20px;
    padding: 10px;
    text-align: center;
    border: 2px dashed #525252;
}

header h1 {
    display: inline-block;
    background-color: #525252;
    color: #f6d4b1;
    padding: 5px;
    margin: 10px 0;
    box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.5);
    transition: box-shadow 0.3s, color 0.3s;
    font-size: 52px; /* Tamaño del encabezado más grande */
}

.section-title {
    display: inline-block;
    background-color: #525252;
    color: #f6d4b1;
    padding: 5px;
    margin: 10px 0;
    box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.5);
    transition: box-shadow 0.3s, color 0.3s;
    font-size: 20px; /* Tamaño ajustado para los títulos de las secciones */
}

a {
    color: #525252;
    text-decoration: none;
    cursor: url('./images/matri.png'), auto;
}

a:hover {
    text-decoration: underline;
    color: #457147; /* Cambio de color al pasar el ratón */
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    display: inline;
    margin-right: 10px;
}

.portfolio-block img {
    height: auto;
    width: auto;
    max-width: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}

.portfolio-block img:hover {
    transform: scale(0.95);
}

.portfolio-block h3 {
    color: #525252;
    transition: color 0.3s;
}

.portfolio-block h3:hover {
    color: #457147;
}

footer p {
    font-size: 8px;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f6d4b1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

#loading-bar-container {
    border: 2px solid #525252;
    width: 80%;
    max-width: 400px;
    height: 20px;
    background-color: transparent;
}

#loading-bar {
    width: 0;
    height: 100%;
    background-color: #525252;
    transition: width 4s;
}

#loading-text {
    color: #525252;
    font-family: 'Public Pixel', sans-serif;
    text-align: center;
}

#loading-text span {
    animation: dots 1s steps(5, end) infinite;
}

#loading-percent {
    color: #525252;
    font-family: 'Public Pixel', sans-serif;
    text-align: center;
}

#main-content {
    display: none;
    text-align: center;
}

#main-content h2 {
    text-align: center;
	font-size: 56px;
}
#main-content h1 {
    text-align: center;
	font-size: 100px;
}
.grayscale {
    filter: grayscale(1);
    transition: 1s;
   }
   .grayscale:hover {
    filter: grayscale(0);
   }
section {
    margin: 10px; /* Margen agregado a todas las secciones */
}
.section-title {
    font-size: 18px; /* Tamaño más pequeño para los títulos de las secciones */
}
/* Estilos para dispositivos móviles */
@media (max-width: 600px) {
    header h1 {
        font-size: 24px; /* Tamaño ajustado para el encabezado en móviles */
    }
    .section-title {
        font-size: 16px; /* Tamaño ajustado para los títulos de las secciones en móviles */
    }
	#main-content h1 {
    text-align: center;
	font-size: 56px;
}
#main-content h2 {
    text-align: center;
	font-size: 32px;
}
}


